.card {
    background:black;
    
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  height: 270px;
  width: 470px;
  margin-top: 10px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 50px;
    margin-bottom: 10px;
  }
  
  .card h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .card p {
    font-size: 14px;
    color: #555;
  }
  